.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  #image_coords_click, #image_coords_now {
    display: block;
    margin-top: 10px;
  }
  